

<div class="col-md-12 mx-auto">
   <header class="">
    <h1 class="text-center text-white">ADD NEW VIDEO</h1>
   </header>
   <div class="col-md-8 mx-auto">
    <div class="card mt-5" style="border-radius: 1rem;">
        <div class="card-body" style="padding: 3rem">
            <form [formGroup]="videoForm" (ngSubmit)="videoSubmit()">
                <!-- <label class="mt-5" >user</label>
                <input type="text" class="form-control" formControlName="user"> -->
                <mat-form-field appearance="outline" class="w-100">
                <mat-label class="mt-5">TITLE</mat-label>
                <input matInput type="text" formControlName="title">
                </mat-form-field>
                   
                <div class="row">
                    <div class="col-md">
                        <label  class="mt-5">thumbnail</label>
                        <input type="file" class="form-control" (change)="uploadThumbnail($event)">
                    </div>
    
                    <div class="col-md">
                        <label  class="mt-5">file</label>
                        <input type="file" class="form-control"(change)="uploadVideo($event)" >
                    </div>
                </div>  
                
    
                
               
               
         <button mat-raised-button color="primary" class="mt-5 w-100">Submit</button>
    
            </form>
        </div>
    
    
   </div>
   </div>